.grid-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 10px;
  gap: 20px;
  padding: 20px;
}

.card {
  margin-bottom: 10px;
  color: white;
}

.single_card_expired {
  background: linear-gradient(135deg, #6c757d, #343a40);
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 80px;
  transition: transform 1s;
  position: relative;
}

.single_card_up {
  position: relative;
  background: linear-gradient(135deg, #06bd00 0%, #00ff88 100%);
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 80px;
  transition: transform 1s;
}

.single_card_down {
  position: relative;
  background: linear-gradient(135deg, #ff2600 0%, #e95d3a 100%);
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 80px;
  transition: transform 1s;
}

.single_card_critical {
  position: relative;
  background: linear-gradient(135deg, #ff8800 0%, #ffd700 100%);
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 80px;
  transition: transform 1s;
}

.single_card_expired:hover {
  transform: scale(1.05);
}

.single_card_up:hover {
  transform: scale(1.05);
}

.single_card_down:hover {
  transform: scale(1.05);
}

.single_card_critical:hover {
  transform: scale(1.05);
}
